/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
======================================
Global
======================================
*/

:root {
  --primary-color: #c271ff;
  --secondary-color: #8a2be2;
  --background-color: #f0f0f0;
  --text-color: #333;
  --white-color: #fff;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.highlight {
  color: var(--primary-color);
}
/*
======================================
Header
======================================
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*
======================================
Hero
======================================
*/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Object.png");
  background-size: cover;
  background-position: top;
  background-position: center;
  color: var(--white-color);
  text-align: center;
  padding: 260px 0;
  position: relative;
}

.hero h1 {
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.hero-text {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
}

.cta-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
}

.cta-button:hover {
  background-color: #b257f2;
}

/*
======================================
Instructors
======================================
*/
.instructors-section {
  padding: 80px 20px;
  text-align: center;
  margin-top: 100px;
}

.instructors-section h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--white-color);
  margin-bottom: 50px;
  margin-top: 100px;
}
.instructors {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.instructor {
  width: 150px;
  text-align: center;
}

.instructor img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.instructor h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.instructor p {
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  line-height: 1.2;
}

/*
======================================
Testimonial
======================================
*/

.testimonial {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-card {
  width: 943px;
  height: 160px;
  display: flex;
  align-items: start;
  padding: 20px;
}

.testimonial img {
  width: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 30px;
}

.testimonial-card p {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 5px;
  opacity: 0.8;
}

/*
======================================
Tutorials
======================================
*/

.tutorial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.tutorial-item {
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.tutorial-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.rating div {
  margin-right: 5px;
}

/*
======================================
Membership
======================================
*/

.membership {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 50px 0;
  text-align: center;
}

.membership-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

/*
======================================
FAQs
======================================
*/

.faq {
  padding: 50px 0;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.faq-item p {
  line-height: 1.6;
}

/*
======================================
Footer
======================================
*/

footer {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 20px 0;
}

.social-icon {
  margin: 0 10px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

footer p {
  text-align: center;
}
